include ../utils/mixins
block variables
	
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="description", content=description)
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='author', content=author)

		title #{title}

		block links
		block head

	body(class=pageClass)
		.wrapper
			block content

		block script