include ../utils/mixins
block variables

//-
  vars: [
    title,
    description,
    pageClass,
    author
  ]

  blocks: [
    variables,
    links,
    head,
    content,
    script
  ]

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content=description, name='description')
    meta(
      content='width=device-width, initial-scale=1, shrink-to-fit=no',
      name='viewport'
    )
    meta(content=author, name='author')

    title #{title}

    block links
    block head

  body(class=pageClass)
    div(class='wrapper')
      block content

    block script
